
$color-background: #eee;
$text-color-navigation: #202020;

$text-color-link: black;
$text-color-link-hover: #c33;
$text-color: black;

$footer-text-color: #666;

$banner-background: #000000;
$banner-text: #FFFFFF;

