
$font-serif: serif;
$font-sans-serif: sans-serif;
$font-monospace: 'Source Code Pro', monospace;
$font-article: Merriweather, Georgia, "Times New Roman", serif;

$sections-padding: 0.25em;
$line-height: 1.4em;
$font-size: 1em;
$article-width: 50em;
